<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../templates/menu_head'); %>

    <body class="container">
      <!-- NAV -->
      <%- include('../templates/cart_nav'); %>

      <div class="row">
        <h1 class="title1 col-xs-12">Our Menu</h1>
        <h4 class="title2 col-xs-12">Pick from our award winning menu</h4>
      </div>
      <script>
        let menuItems = <%- JSON.stringify(items) %>;
        localStorage.setItem('items', JSON.stringify({menuItems}));
      </script>

      <!-- CART MODAL -->
      <div class="modal fade cart-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel">Order Summary</h4>
            </div>
            <div class="modal-body">
              <table id="cart">
                <tr>
                  <th class="cartHeader">Item:</th>
                  <th class="cartHeader">Price:</th>
                  <th>Quantity:</th>
                </tr>
              </table>
              <table class="subTotalTable">
                <tr>
                  <th class="subTotalHeader">Subtotal</th>
                  <td id="subTotal">$0.00</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-custom">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /CART modal -->

      <div class="row menu">
      <% items.forEach((item) => { %>
          <div class="col-xs-12 col-sm-6 col-md-4 menuItem">
            <img class="img-responsive img-thumbnail" src="<%= item.image_url%>" alt="Picture of dog food menu item.">
            <div>
              <p id="<%= item.item_name %>">
                <%= item.item_name %>
              </p>
              <p>Ingredients:
                <%= item.item_ingredients %>
              </p>
              <p id "<%= item.item_price %>">Price:
                <%= item.item_price %>
                <select id="dropdown<%= item.id %>">Qty:
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button id="<%= item.id %>" type="button" class="btn btn-custom btn-sm addToCart" style="background-color:rgb(242,98,38)">
                  <span  aria-hidden="true"></span> Add to cart
                </button>
              </p>
            </div>
          </div>

        <% }) %>
      </div>
      <div class="row">
        <a class="nav-item nav-link go-right btn btn-custom col-xs-4 col-xs-offset-4 scheduleDelivery" href="/orders/order_pay">Schedule Delivery</a>
      </div>

    </body>

</html>
