<!DOCTYPE html>
<html lang="en">
    <%- include('../templates/head', {title: 'Your Orders'}); %>

        <body>
            <%- include('../templates/navbar'); %>

                <table>
                    <h1>Your Order History</h1>
                <h1>Your Order History</h1>
                <table>
                    <% orders.forEach(function(order){  %>
                        <tr>
                            <br>
                            <ul> <b>Order Number:</b>
                                <%= order.order_number %>
                            </ul>
                            <ul> <b>Date Placed:</b>
                                <%= order.order_date %>
                            </ul>
                            <ul> <b>Status:</b>
                                <%= order.order_status %>
                            </ul>
                            <ul> <b>Amount Charged:</b>
                                <%= order.order_total %>
                            </ul>
                            <ul> <b>Scheduled Delivery Date:</b>
                                <%= order.delivery_date %>
                            </ul>
                            <br>
                        </tr>
                        <% }) %>
                </table>
        </body>

</html>
