<!DOCTYPE html>
<html lang="en">
    <%- include('../templates/head', {title: 'HOME PAGE'}); %>

        <body>
            <%- include('../templates/navbar'); %>>



                <ul> First Name:
                    <%= first_name %>
                </ul>
                <ul> Last Name:
                    <%= last_name %>
                </ul>
                <ul> Email:
                    <%= email %>
                </ul>
                <ul> address:
                    <%= address %>
                </ul>
                <ul> city:
                    <%= city %>
                </ul>
                <ul> State:
                    <%= state %>
                </ul>
                <ul> Zip:
                    <%= zip %>
                </ul>
        </body>

</html>
